* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #d9dcd6;
}

/* Changed the div class header to the header semantic element. Made the header a flex element to help ensure all of the content remains contained within upon resizing of the viewport */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 48px;
}

/* Changed the color to one that contrasts more with both the background and other text and edded an underline. This makes the 'seo' of Hirseon stand out to emphasize that this company specializes in search engine optimization*/
h1 .seo {
  color: #f3e30a;
  text-decoration: underline;
}

/* Changed the div housed within the header to the nav semantic element*/
nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

figure {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

section {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.business-offerings {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.business-offerings h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.business-offerings img {
  max-height: 200px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
